<form [formGroup]="form" (ngSubmit)="submit()" class="my-2">

    <mat-grid-list cols="5" rowHeight="2:1" gutterSize="1rem">
        <mat-grid-tile>

            <mat-form-field>
                <mat-label>Seleccione fecha</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="pickerDate" formControlName="fecha">
                <mat-datepicker-toggle matIconSuffix [for]="pickerDate">
                    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerDate></mat-datepicker>
            </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile>

            <mat-form-field>
                <mat-label>Seleccione hora</mat-label>
                <input matInput step="900" type="time" formControlName="hora">
                <mat-datepicker-toggle matIconSuffix>
                    <mat-icon matDatepickerToggleIcon class="material-icons-outlined">watch_later</mat-icon>
                </mat-datepicker-toggle>
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile>

            <mat-form-field>
                <mat-label>Id Prueba</mat-label>
                <mat-select formControlName="test">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let prueba of pruebas" [value]="prueba">{{prueba}}</mat-option>
                </mat-select>
            </mat-form-field>
              
        </mat-grid-tile>

        <mat-grid-tile>
            
            <mat-form-field>
                <mat-label>Id Afiliado</mat-label>
                <mat-select formControlName="afiliado">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let afiliado of afiliados" [value]="afiliado">{{afiliado}}</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        
    </mat-grid-list>
    
    <submit-form-button-group [cancelRedirectPath]="'citas'" [submitDisabled]="form.invalid"></submit-form-button-group>

</form>