<mat-toolbar color="primary">
  <a routerLink=""><span>Agenda de citas &#8212; Reto Semillero</span></a>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/citas">
    <mat-icon>calendar_today</mat-icon>
    <span>Citas</span>
  </button>
  <button mat-button routerLink="/pruebas">
    <mat-icon>list_alt</mat-icon>
    <span>Pruebas</span>
  </button>
  <button mat-button routerLink="/afiliados">
    <mat-icon>person</mat-icon>
    <span>Afiliados</span>
  </button>
</mat-toolbar>