<form [formGroup]="form" (ngSubmit)="submit()" class="my-2">

    <mat-grid-list cols="5" rowHeight="2:1" gutterSize="1rem">
        <mat-grid-tile>

            <mat-form-field class="example-full-width">
                <mat-label>Nombre Completo</mat-label>
                <input matInput formControlName="nombre" type="text">
                <mat-error *ngIf="form.controls['nombre'].hasError('required')">
                    El nombre es <strong>obligatorio</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['nombre'].hasError('minlength')">
                    El nombre debe tener al menos 5 caracteres
                </mat-error>
            </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile>

            <mat-form-field class="example-full-width">
                <mat-label>Correo Electr&oacute;nico</mat-label>
                <input type="email" matInput formControlName="correo"
                        placeholder="address@mail.com">
                <mat-error *ngIf="form.controls['correo'].hasError('email')">
                    Por favor ingrese un correo electr&oacute;nico v&aacute;lido
                </mat-error>
                <mat-error *ngIf="form.controls['correo'].hasError('required')">
                    Correo elect&oacute;nico <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile>

            <mat-form-field class="example-full-width">
                <mat-label>Edad</mat-label>
                <input matInput formControlName="edad" type="number" min="0">
                <mat-error *ngIf="form.controls['edad'].hasError('min')||form.controls['edad'].hasError('max')">
                    La edad debe ser mayor a cero y menor a 100
                </mat-error>
                <mat-error *ngIf="form.controls['edad'].hasError('required')">
                    Campo edad es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
              
        </mat-grid-tile>
        
    </mat-grid-list>
    
    <submit-form-button-group [cancelRedirectPath]="'afiliados'" [submitDisabled]="form.invalid"></submit-form-button-group>

</form>