/*  */

form .mat-form-field{
  width: 80%;
}

/*  */

table {
  width: 100%;
}
  
tr.example-detail-row {
  height: 0;
}

.example-element-row td{
  border-bottom-width: 0;
}


/* Remove number input decorators */

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type=number] {
  -moz-appearance: textfield;
}

/* Center spinnner */
.center {
  display: flex; 
  justify-content: center; 
  align-items: center;
}