<form [formGroup]="form" (ngSubmit)="submit()" class="my-4" >

    <mat-form-field class="example-full-width my-2">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text">
        <mat-error *ngIf="form.controls['nombre'].hasError('required')">
            El nombre es <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['nombre'].hasError('minlength')">
            El nombre debe tener al menos 5 caracteres
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width mb-2">
        <mat-label>Descripci&oacute;n</mat-label>
        <textarea matInput formControlName="descripcion" placeholder="Ex. It makes me feel..."></textarea>
        <mat-error *ngIf="form.controls['descripcion'].hasError('required')">
            La descripci&oacute; es <strong>obligatoria</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['descripcion'].hasError('minlength')">
            La descripci&oacute;n debe tener una longitud m&iacute;nima de 5 caracteres
        </mat-error>
    </mat-form-field>

    <submit-form-button-group [cancelRedirectPath]="'pruebas'" [submitDisabled]="form.invalid"></submit-form-button-group>

</form>